**Actividad 2.2 (Extracción de datos)**
**Eduardo Ballinas Ballinas**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Lectura de los datos**

In [ ]:
df =pd.read_excel("Datos de Facturación.xlsx")
df

**1. CVE_CLPV (Valores de 1000 a 2000)**

In [45]:
df["CVE_CLPV"] = pd.to_numeric(df["CVE_CLPV"])
clpv=df.loc[(df["CVE_CLPV"] >= 1000) & (df["CVE_CLPV"] <= 2000),["CVE_CLPV"]]
clpv

       CVE_CLPV
18       1965.0
22       1965.0
65       1240.0
71       1965.0
72       1965.0
...         ...
10821    1757.0
10839    1583.0
10845    1786.0
10871    1453.0
10876    1082.0

[581 rows x 1 columns]

**2. CVE_VEND (Todas las claves excepto "5" y "4")**

In [ ]:
vend=df.loc[~((df["CVE_VEND"]==4)|(df["CVE_VEND"]==5))]
vend

**3. FECHA_ENT (Fechas de "28/02/2022")**

In [ ]:
df["FECHA_ENT"] = pd.to_datetime(df["FECHA_ENT"], errors='coerce')
fecha = df[df["FECHA_ENT"] == "28/02/2022"]
fecha

**4. CAN_TOT (Cantidades menores a 5971.7 o STATUS "E")**

In [ ]:
total= df[(df["CAN_TOT"]<5951.7) | (df["STATUS"]=="E")]
total

**5.Solo las columnas CVE_DOC, FECHA_ENT, FECHA_VEN Y CAN_TOT**

In [ ]:
columnas= df.loc[ : , ["CVE_DOC", "FECHA_ENT", "FECHA_VEN", "CAN_TOT"]]          #Columnas no consecutivas
columnas

**6. Solo las filas de 7001-7099**

In [ ]:
filas= df.iloc[7000:7099,:]
filas
#En cuestión de filas de las bases de datos, como empezamos en 0 debemos empezar en el dato 7000 aquí (uno antes) y terminar en el número en cuestión.
#Esto en la tabla se ve de manera que empieza en 7000 y acaba en 7098, contando los 99 datos solicitados.

**7. Index= CVE_VEND (valores 1:2) (columna:FECHAELAB)**

In [36]:
#7. Index= CVE_VEND (valores 1:2) (columna:FECHAELAB)
df1= pd.read_excel('Datos de Facturación.xlsx', index_col="CVE_VEND")
df1= df1.loc[[1,2], ["FECHAELAB"]]
df1

                       FECHAELAB
CVE_VEND
1.0      2019-09-03 08:58:42.000
1.0      2019-09-03 09:55:14.000
1.0      2019-09-03 13:25:33.000
1.0      2019-09-03 13:33:23.000
1.0      2019-09-04 09:15:12.000
...                          ...
2.0      2023-03-06 16:09:39.013
2.0      2023-03-06 16:38:42.933
2.0      2023-03-06 17:02:33.390
2.0      2023-03-07 12:43:49.567
2.0      2023-03-07 12:45:58.407

[8665 rows x 1 columns]